* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ricerca {
    height: 80px;
    width: 100%;
    background-color:#2e3a46;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    
.logo img {
    max-width: 50px;
    margin:15px 20px;
    
}

select {
    width: 200px;
    margin-right: 20px;
}


.back {
    width: 100%;
    background-color: #1e2d3b;
}

.Cdisc {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: calc(100% / 3);
    min-height: 400px;
}
h3 {
    color: white;
    text-align: center;
}
p {
    color: gray;
    text-align: center;
}

.card img {
    max-width: 300px;
    display: block;
    margin: 0px auto;
    text-align: center;
}